%h3.list-header Todo Lists
- if @lists.first
  %h3.list-header Todo Lists
  %table#lists
    - @lists.each do |list|
      %tr
        %td.name= link_to list.name, list_path(list.id)
        %td
          = link_to "<input type='submit' value='Edit'></input>".html_safe, edit_list_path(list.id)
- else
  #no-lists
    Create a list by clicking the button below.
= link_to "<input type='submit' value='New List'></input>".html_safe, new_list_path
