- if @todos.first
  %h3.caps-header Description
  %table#todos
    - @todos.each_with_index do |todo, i|
      %tr
        %td.description= todo.description
        %td= button_to '–', todo, method: :delete, data: { :"todo-id" => todo.id, :"delete-todo-button" => true }
- else
  %h3.caps-header Description
  %table#todos
  #no-todos
    No todos. <a href='#{new_list_path}'>Create a list</a> and add some todos to it!
