%h1 about this...
%p This is a self-destructing todo list app. Wtf does that mean? It means that it's like any other todo list app, except your todos will delete themselves after 7 days if you don't mark them as complete.
%p Why? Maybe becase the todos that don't get done aren't important. Or maybe to encourage your procrastantion. Or maybe for absolutely no reason at all.
%p
  = link_to 'github project', 'https://github.com/jpalmieri/blocitoff-api'
