%h1 about this...
%p This is a pretty simple todo list app. It started out as a project for <a href='http://www.bloc.io'>Bloc</a>, but I've been using it since then and have added some features that I wanted.
%p Feel free to use it and let me know what you think! Or hit me up for a job. ;)
%p
  = mail_to 'joe@jpalmieri.com', 'joe@jpalmieri.com'
%p
  = link_to 'GitHub repo', 'https://github.com/jpalmieri/blocitoff-api'
