@import 'susy'

$desktop-width: 64em

body
  .alert
    padding: .5em 0
    &.alert-success
      background-color: #CEF2F7
    &.alert-danger
      background-color: #F2DEDE
    &.alert-warning
      background-color: #FFEDDD
    .close
      float: right
      padding: 0
      font-size: 1em
      background: transparent
      border: 0
      -webkit-appearance: none
      &:hover, &:focus
        color: #000
        text-decoration: none
        cursor: pointer
        opacity: .4
        filter: alpha(opacity=40)
    .alert-container
      margin: 4px 8px
      text-align: center
      @include susy-breakpoint($desktop-width, 12)
        @include container
        width: $desktop-width
        margin: auto
