@import 'susy'

thead
  font-weight: bold

input, a.btn
  margin-bottom: 6px

tr
  height: 3em

td.description
  width: 100%

.add-todo
  box-sizing: border-box
  @include container
  .add-description
    @include span(10.25 of 12)
  .add-todo-button
    @include span(1.75 of 12 last)
  @include susy-breakpoint(40em, 12)
    .add-description
      @include span(11 of 12)
    .add-todo-button
      @include span(1 of 12 last)
  .add-todo-button
    margin-top: .5em
    padding: .56em 1em
