- if flash[:notice]
  .alert.alert-success
    .alert-container
      = flash[:notice]
- elsif flash[:error]
  .alert.alert-danger
    .alert-container
      = flash[:error]
- elsif flash[:alert]
  .alert-container
    .alert.alert-warning
      = flash[:alert]
