- if flash[:notice]
  .alert.alert-success
    .alert-container
      = flash[:notice]
      %button.close{'data-dismiss' => 'alert'} ×
- elsif flash[:error]
  .alert.alert-danger
    .alert-container
      = flash[:error]
      %button.close{'data-dismiss' => 'alert'} ×
- elsif flash[:alert]
  .alert.alert-warning
    .alert-container
      = flash[:alert]
      %button.close{'data-dismiss' => 'alert'} ×
