- if flash[:notice]
  .alert.alert-success
    %span.close{'data-dismiss' => 'alert', type: 'button'} ×
    = flash[:notice]
- elsif flash[:error]
  .alert.alert-danger
    %span.close{"data-dismiss" => 'alert', type: 'button'} ×
    = flash[:error]
- elsif flash[:alert]
  .alert.alert-warning
    %span.close{'data-dismiss' => 'alert', type: 'button'} ×
    = flash[:alert]
